[submodule "lib/codemirror"]
	path = lib/codemirror
	url = https://github.com/marijnh/CodeMirror-old.git
[submodule "lib/jslint"]
	path = lib/jslint
	url = https://github.com/douglascrockford/JSLint.git
[submodule "lib/js-audio-segments"]
	path = lib/js-audio-segments
	url = https://github.com/also/js-audio-segments.git
